/* General */
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  height: -webkit-fill-available;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --clr-background: rgb(7, 7, 33);
  --clr-text: whitesmoke;
}

body {
  background-color: var(--clr-background);
  color: var(--clr-text);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  position: relative;
}

header {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-bottom: .5rem;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

.result-message {
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  font-size: 1.5rem;
}

small {
  color: rgb(167, 167, 167);
  font-size: 1rem;
  font-weight: bold;
}

dialog {
  background-color: var(--clr-background);
  color: var(--clr-text);
  max-width: calc((100% - 0.25rem) - 3rem);
  border: 1px solid grey;
  border-radius: 6px;
  text-align: start;
  -webkit-box-shadow: 0px 7px 22px 0px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0px 7px 22px 0px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 7px 22px 0px rgba(255, 255, 255, 0.4);
  font-size: 1rem;
  line-height: 1.3rem;
}

a {
  color: white;
}

.row.dialog {
  max-width: fit-content;
}

#closeDialog {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  display: grid;
  margin-left: auto;
  cursor: pointer;
}

span.present,
span.correct,
span.wrong {
  padding: 3px;
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
      gap: 1.5rem;
      align-items: baseline;
      padding-top: 1rem;
  }
}

/* Board */
.board {
  display: grid;
  gap: 0.25rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.25rem;
}

.tile {
  font-size: 2rem;
  font-weight: 900;
  border: 2px solid rgb(122, 118, 118);
  background-color: rgb(7, 7, 33);
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-transform: uppercase;
  text-align: center;
}

.keyboard {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 0.25rem;
margin-bottom: 0.5rem;
}

.row-keyboard {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.keyboard .tile {
  width: 2rem;
  height: 3rem;
    font-size: 1rem;
    font-weight: 900;
    border: 2px solid rgb(122, 118, 118);
    border-radius: 6px;
    background-color: rgb(208, 208, 221);
    line-height: 4rem;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 1px 1px 0px #000;
    cursor: pointer;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard .double {
  width: 3.75rem;
  background: #bbbbbb;
}

.keyboard  .enter {
  font-size: 0.75rem;
}

.keyboard  .delete {
  font-size: 1.3rem;
}

.is-filled {
  border-color: rgb(232, 232, 232);
}

.wrong {
  border-color: rgb(84, 81, 81);
  background-color: rgb(84, 81, 81);
}

.present {
  border-color: rgb(201, 183, 0);
  background-color: rgb(201, 183, 0);
}

.correct {
  border-color: rgb(0, 119, 0);
  background-color: rgb(0, 119, 0);
}

@-webkit-keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

/* responsive */

@media only screen and (max-width: 386px) {

  .row-keyboard {
    gap: 0.1rem;
  }

  .keyboard .tile {
    font-size: 1rem;
    width: 1.95rem;
    height: 2.3rem;
    line-height: 1.45rem;
  }

  .keyboard .double {
    width: 2.75rem;
  }

  .keyboard .enter {
    font-size: 0.55rem;
  }
}

@media only screen and ((max-width: 600px) or (max-height: 600px)) {
  .tile {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
  }
}

@media only screen and (max-width: 940px) {
  header h1 {
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
  }
}

/* Effects */
.row {
  --animate-duration: 0.85s;
  --animate-delay: 0.25s;
}

@-webkit-keyframes bounceIn {
  0%,
  30%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.4, 0.4, 0.4);
    transform: scale3d(0.4, 0.4, 0.4);
  }

  30% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes bounceIn {
  0%,
  30%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.4, 0.4, 0.4);
    transform: scale3d(0.4, 0.4, 0.4);
  }

  30% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.animate__bounceIn {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-duration: calc(var(--animate-duration) * 0.2);
  animation-duration: calc(var(--animate-duration) * 0.2);
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.svg {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  margin: auto;
  pointer-events: none;
}
